body {
    margin: 30px auto 0 auto;
    padding: 0;
    font-family: "Nanum Gothic", serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: auto;
}

h1, h3, h4 {
    font-family: "Ubuntu", serif;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.top-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 1000px;
}

/* Top-content */
.top-content .image img{
    width: 50px;
}

.top-content .searchbar {
    margin-left: 10px;
    width: 50%;
}

.top-content .searchbar form {
    position: relative;
    display: flex;
}

.top-content .searchbar form button {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 7px 10px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.top-content .searchbar form img{
    width: 10px;
}
 
.top-content .searchbar form input{
    padding: 7px 10px;
    border: 2px solid #7E99A3;
    border-radius: 15px;
    outline: none;
    width: 100%;
}

/* Navbar */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4C585B;
    padding: 10px 0;
}

nav .menu {
    width: 1000px;
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin: 3px;
    padding: 0;
}

nav .menu li {
    font-family: "Ubuntu", serif;
    list-style-type: none;
    padding: 7px 10px;
}

nav .menu li:hover{
    background-color: #7E99A3;
    border-radius: 15px;
}

nav .menu li a {
    color: white;
    text-decoration: none;
}

nav .menu li .menu-dropdown{
    display: none;
}

nav .menu li:hover .menu-dropdown{
    background-color: #4C585B;
    display: block;
    position: absolute;
    border-radius: 15px;
    margin: 7px 0;
    padding: 7px 10px;
}

/* content */
main {
    padding: 0 20px;
    display: flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

main .content {
    flex: 2;
    padding: 0 10px;
}

main .content article h1{
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 20px 0;
}

main .content article .publish-info {
    display: flex;
    justify-content: space-between;
}

main .content article .publish-info .writer-info {
    display: flex;
}

main .content article .publish-info .writer-img img {
    width: 40px;
}

main .content article .publish-info ul {
    margin: 0 0 20px 10px;
    padding: 0;
    font-size: 13px;
    list-style: none;
    color: #868e96;
}

main .content article .publish-info .writter{
    font-weight: 400;
    margin-bottom: 10px;
}

main .content article .publish-info .date{
    font-weight: 400;
}

main .content article .publish-info .writer-socmed img{
    margin-left: 10px;
    width: 30px;
}

/* Slider */
main .content article .slider {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-radius: 15px;
}

main .content article .slider .image-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

main .content article .slider .image-content img {
    border-radius: 15px;
    width: 100%;
    flex-shrink: 0;
}

main .content article .slider .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

main .content article .slider .controls button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}


main .content article p{
    text-align: justify;
    color: #858993;
    line-height: 1.5;
}

/* Aside */
main aside {
    flex: 1;
    padding: 0 10px;
    margin-left: 10px;
}

main aside h3{
    font-weight: 600;
    margin: 0 0 20px 0;
}

main aside .related-content {
    display: flex;
    margin-bottom: 10px;
}

main aside .related-content .image-contents img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
}

main aside .related-content .content-info h3{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin: 0 0 10px 10px;
}

main aside .related-content .content-info p{
    font-size: 12px;
    margin: 0;
    margin-left: 10px;
    color: #858993;
}

/* Footer */
footer {
    background-color: #4C585B;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer .footer-content {
    width: 1000px;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    margin-top: auto;
}

footer .footer-content h4 {
    color: white;
}

footer .footer-content .identity{
    display: flex;
    align-items: center;
    flex: 1;
}

footer .footer-content .identity .identity-info{
    margin-left: 10px;
}

footer .footer-content .identity .identity-info p{
    color: #858993;
}

footer .footer-content .identity .identity-image img{
    width: 100px;
}

footer .footer-content .socmed{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    flex: 1;
}

footer .footer-content .socmed .img-socmed img {
    width: 35px;
}